NODE_ENV=development
PORT=3002

DB_HOST=mysql-product
DB_PORT=3306
DB_NAME=product_db
DB_USER=root
DB_PASSWORD=db_password

JWT_SECRET=the_jwt_secret

AWS_REGION=aws_region
AWS_ACCESS_KEY=your_access_key
AWS_SECRET_KEY=your_secret_key
AWS_S3_BUCKET=your_bucket_name